{
  "openapi": "3.1.0",
  "info": {
    "title": "OSINT MCP Server",
    "description": "API for passive OSINT intelligence gathering on domains, IPs, emails, phones, usernames, files and vehicles. Public sources only. No active exploitation or privacy violations.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://osint-mcp.playingwith.info",
      "description": "OSINT API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Check API health",
        "description": "Returns API status and operation mode.",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tools": {
      "get": {
        "operationId": "listOsintTools",
        "summary": "List available OSINT tools",
        "description": "Returns the catalog of available OSINT tools, optionally filtered by category.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter by category: all, domain, ip, email, phone, username, image, metadata, breach, vehicle",
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "enabled_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of OSINT tools",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OsintTool"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workflow/run": {
      "post": {
        "operationId": "runOsintWorkflow",
        "summary": "Launch an OSINT workflow",
        "description": "Run OSINT workflow; poll /tasks/{task_id}. Map: email->email_reputation, domain->domain_recon, ip->ip_reputation, phone->phone_reputation, username->username_recon, person->person_recon, breach->breach_exposure_check, plate/VIN->vehicle_recon. person_recon: ask company+location first.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow accepted. Use task_id to poll for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "operationId": "getTaskResult",
        "summary": "Get workflow result",
        "description": "Returns status and result of a workflow. Poll every 3-5 seconds until status is completed, failed, or partial.",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "The task_id returned by POST /workflow/run",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/reports/{task_id}": {
      "post": {
        "operationId": "generateReport",
        "summary": "Generate a formatted OSINT report",
        "description": "Generates a report for a completed task. Use format=markdown for readable output. Only call after status is completed.",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "The task_id of a completed workflow",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportFormatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Formatted report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OsintResult"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Task not found"
          },
          "409": {
            "description": "Task not yet completed"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-OSINT-API-Key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {"type": "string", "description": "ok or error"},
          "mode": {"type": "string", "description": "safe, analyst, or lab"}
        }
      },
      "OsintTool": {
        "type": "object",
        "required": ["name", "category", "type"],
        "properties": {
          "name": {"type": "string"},
          "category": {"type": "string"},
          "type": {"type": "string"},
          "enabled": {"type": "boolean"},
          "requires_api_key": {"type": "boolean"},
          "risk_level": {"type": "string"},
          "description": {"type": "string"},
          "inputs": {"type": "array", "items": {"type": "string"}},
          "outputs": {"type": "array", "items": {"type": "string"}}
        }
      },
      "WorkflowRequest": {
        "type": "object",
        "required": ["workflow", "target"],
        "properties": {
          "workflow": {
            "type": "string",
            "enum": [
              "domain_recon",
              "ip_reputation",
              "email_reputation",
              "phone_reputation",
              "username_recon",
              "person_recon",
              "reverse_image_search",
              "metadata_analysis",
              "breach_exposure_check",
              "vehicle_recon"
            ],
            "description": "The OSINT workflow to execute. Use person_recon for full name searches (requires company or location in options for good results)."
          },
          "target": {
            "type": "string",
            "description": "Indicator to analyze. For username_recon: full name (e.g. 'John Smith'), email, username, LinkedIn URL, GitHub URL or phone are all valid targets."
          },
          "mode": {
            "type": "string",
            "enum": ["safe", "analyst"],
            "default": "safe"
          },
          "output_format": {
            "type": "string",
            "enum": ["json", "markdown"],
            "default": "json"
          },
          "options": {
            "type": "object",
            "description": "Extra params: depth (domain_recon), country_hint (phone_reputation), indicator_type (breach), platform_scope (username_recon), country (vehicle_recon). For person_recon: company, location, email, phone.",
            "additionalProperties": true
          }
        }
      },
      "WorkflowSubmitResponse": {
        "type": "object",
        "required": ["task_id", "status"],
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Use this with GET /tasks/{task_id} to poll for results"
          },
          "status": {"type": "string"}
        }
      },
      "TaskResponse": {
        "type": "object",
        "required": ["task_id", "workflow", "target", "status"],
        "properties": {
          "task_id": {"type": "string"},
          "workflow": {"type": "string"},
          "target": {"type": "string"},
          "status": {
            "type": "string",
            "enum": ["running", "completed", "failed", "partial"]
          },
          "started_at": {"type": "string"},
          "finished_at": {
            "type": ["string", "null"]
          },
          "error": {"type": "string"},
          "result": {
            "$ref": "#/components/schemas/OsintResult"
          }
        }
      },
      "OsintResult": {
        "type": "object",
        "properties": {
          "task_id": {"type": "string"},
          "workflow": {"type": "string"},
          "status": {"type": "string"},
          "target": {"type": "string"},
          "target_type": {"type": "string"},
          "summary": {"type": "string"},
          "findings": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/Finding"}
          },
          "sources": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/Source"}
          },
          "confidence": {
            "type": "string",
            "enum": ["low", "medium", "high", "unknown"]
          },
          "risk": {
            "type": "string",
            "enum": ["low", "medium", "high", "unknown"]
          },
          "warnings": {
            "type": "array",
            "items": {"type": "string"}
          },
          "started_at": {"type": "string"},
          "finished_at": {
            "type": ["string", "null"]
          }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "type": {"type": "string", "description": "e.g. dns_a, whois_registrar, vehicle_identity, pdl_social_profiles"},
          "value": {"type": "string", "description": "Finding value as string or JSON"},
          "source": {"type": "string"},
          "confidence": {
            "type": "string",
            "enum": ["low", "medium", "high", "unknown"]
          },
          "notes": {"type": "string"}
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "name": {"type": "string"},
          "url": {"type": "string"},
          "queried_at": {"type": "string"},
          "success": {"type": "boolean"}
        }
      },
      "ReportFormatRequest": {
        "type": "object",
        "properties": {
          "format": {
            "type": "string",
            "enum": ["markdown", "json", "html"],
            "default": "markdown",
            "description": "Use markdown for readable output"
          }
        }
      }
    }
  }
}
