{
  "openapi": "3.1.0",
  "info": {
    "title": "OSINT MCP Server",
    "description": "API for passive OSINT intelligence gathering on domains, IPs, emails, phones, usernames, files and vehicles. Public sources only. No active exploitation or privacy violations.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://osint-mcp.playingwith.info",
      "description": "OSINT API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Check API health",
        "description": "Returns API status and operation mode.",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tools": {
      "get": {
        "operationId": "listOsintTools",
        "summary": "List available OSINT tools",
        "description": "Returns the catalog of available OSINT tools, optionally filtered by category.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter by category: all, domain, ip, email, phone, username, image, metadata, breach, vehicle",
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "enabled_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of OSINT tools",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OsintTool"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/files/upload": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload a file for analysis",
        "description": "Upload a binary file. Validates MIME type via magic bytes. Returns path to use as target in metadata_analysis or reverse_image_search.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to analyse. Allowed: JPEG, PNG, WebP, GIF, TIFF, BMP, HEIC, PDF, DOC, DOCX, XLS, XLSX, PPT, PPTX, ODT, ODS, ODP. Max 20 MB."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded. Use path as target in the workflow.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "413": {"description": "File exceeds 20 MB limit"},
          "415": {"description": "File type not allowed"}
        }
      }
    },
    "/files/upload-base64": {
      "post": {
        "operationId": "uploadFileBase64",
        "summary": "Upload a file as base64",
        "description": "Decode and stage a base64-encoded file. Use when the user attaches an image or document directly to the chat. Accepts raw base64 or data-URI format.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadBase64Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File decoded and staged. Use path as target in the workflow.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "413": {"description": "File exceeds 20 MB limit"},
          "415": {"description": "File type not allowed"},
          "422": {"description": "Invalid base64 data"}
        }
      }
    },
    "/files/fetch": {
      "post": {
        "operationId": "fetchFile",
        "summary": "Fetch a file from a public URL for analysis",
        "description": "Download a public URL server-side, validate MIME, and stage the file. Returns path to use as target in metadata_analysis or reverse_image_search.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File fetched. Use path as target in the workflow.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "413": {"description": "Remote file exceeds 20 MB limit"},
          "415": {"description": "File type not allowed"},
          "502": {"description": "Failed to fetch remote URL"}
        }
      }
    },
    "/workflow/run": {
      "post": {
        "operationId": "runOsintWorkflow",
        "summary": "Launch an OSINT workflow",
        "description": "Submit an OSINT workflow. Returns task_id; poll GET /tasks/{task_id} until status is completed, failed, or partial.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow accepted. Use task_id to poll for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "operationId": "getTaskResult",
        "summary": "Get workflow result",
        "description": "Returns status and result of a workflow task.",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "The task_id returned by POST /workflow/run",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "description": "Block up to this many seconds (max 25) until the task finishes. Use wait=20 to avoid repeated polling.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/reports/{task_id}": {
      "post": {
        "operationId": "generateReport",
        "summary": "Generate a formatted OSINT report",
        "description": "Generate a formatted report for a completed task. Supported formats: markdown, json, html.",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "The task_id of a completed workflow",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportFormatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Formatted report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OsintResult"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Task not found"
          },
          "409": {
            "description": "Task not yet completed"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-OSINT-API-Key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {"type": "string", "description": "ok or error"},
          "mode": {"type": "string", "description": "safe, analyst, or lab"}
        }
      },
      "OsintTool": {
        "type": "object",
        "required": ["name", "category", "type"],
        "properties": {
          "name": {"type": "string"},
          "category": {"type": "string"},
          "type": {"type": "string"},
          "enabled": {"type": "boolean"},
          "requires_api_key": {"type": "boolean"},
          "risk_level": {"type": "string"},
          "description": {"type": "string"},
          "inputs": {"type": "array", "items": {"type": "string"}},
          "outputs": {"type": "array", "items": {"type": "string"}}
        }
      },
      "WorkflowRequest": {
        "type": "object",
        "required": ["workflow", "target"],
        "properties": {
          "workflow": {
            "type": "string",
            "enum": [
              "domain_recon",
              "ip_reputation",
              "email_reputation",
              "phone_reputation",
              "username_recon",
              "person_recon",
              "reverse_image_search",
              "metadata_analysis",
              "breach_exposure_check",
              "vehicle_recon"
            ],
            "description": "The OSINT workflow to execute."
          },
          "target": {
            "type": "string",
            "description": "Indicator to analyze: domain, IP, email, phone, username, full name, plate, VIN, or file path returned by /files/upload or /files/fetch."
          },
          "mode": {
            "type": "string",
            "enum": ["safe", "analyst"],
            "default": "safe"
          },
          "output_format": {
            "type": "string",
            "enum": ["json", "markdown"],
            "default": "json"
          },
          "location": {
            "type": "string",
            "description": "For person_recon: city or region where the person lives (e.g. 'Barcelona', 'Viladecans').",
            "default": ""
          },
          "company": {
            "type": "string",
            "description": "For person_recon: company or employer name.",
            "default": ""
          },
          "email": {
            "type": "string",
            "description": "For person_recon: known email address.",
            "default": ""
          },
          "phone": {
            "type": "string",
            "description": "For person_recon: known phone number.",
            "default": ""
          },
          "options": {
            "type": "object",
            "description": "Extra params: depth (domain_recon), country_hint (phone_reputation), indicator_type (breach), platform_scope (username_recon), country (vehicle_recon).",
            "additionalProperties": true
          }
        }
      },
      "WorkflowSubmitResponse": {
        "type": "object",
        "required": ["task_id", "status"],
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Use this with GET /tasks/{task_id} to poll for results"
          },
          "status": {"type": "string"}
        }
      },
      "TaskResponse": {
        "type": "object",
        "required": ["task_id", "workflow", "target", "status"],
        "properties": {
          "task_id": {"type": "string"},
          "workflow": {"type": "string"},
          "target": {"type": "string"},
          "status": {
            "type": "string",
            "enum": ["running", "completed", "failed", "partial"]
          },
          "started_at": {"type": "string"},
          "finished_at": {
            "type": ["string", "null"]
          },
          "error": {"type": "string"},
          "result": {
            "$ref": "#/components/schemas/OsintResult"
          }
        }
      },
      "OsintResult": {
        "type": "object",
        "properties": {
          "task_id": {"type": "string"},
          "workflow": {"type": "string"},
          "status": {"type": "string"},
          "target": {"type": "string"},
          "target_type": {"type": "string"},
          "summary": {"type": "string"},
          "findings": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/Finding"}
          },
          "sources": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/Source"}
          },
          "confidence": {
            "type": "string",
            "enum": ["low", "medium", "high", "unknown"]
          },
          "risk": {
            "type": "string",
            "enum": ["low", "medium", "high", "unknown"]
          },
          "warnings": {
            "type": "array",
            "items": {"type": "string"}
          },
          "started_at": {"type": "string"},
          "finished_at": {
            "type": ["string", "null"]
          }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "type": {"type": "string", "description": "e.g. dns_a, whois_registrar, vehicle_identity, pdl_social_profiles"},
          "value": {"type": "string", "description": "Finding value as string or JSON"},
          "source": {"type": "string"},
          "confidence": {
            "type": "string",
            "enum": ["low", "medium", "high", "unknown"]
          },
          "notes": {"type": "string"}
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "name": {"type": "string"},
          "url": {"type": "string"},
          "queried_at": {"type": "string"},
          "success": {"type": "boolean"}
        }
      },
      "UploadBase64Request": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "string",
            "description": "Base64-encoded file content. Accepts raw base64 or data-URI (data:image/png;base64,...)."
          },
          "filename": {
            "type": "string",
            "description": "Optional original filename hint.",
            "default": "file"
          }
        }
      },
      "FetchRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "description": "Public URL to the image or document to download and analyze. Must be https://."
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "required": ["file_id", "path"],
        "properties": {
          "file_id": {"type": "string", "description": "UUID filename assigned by the server"},
          "path": {"type": "string", "description": "Pass this as target in reverse_image_search or metadata_analysis"},
          "mime_type": {"type": "string"},
          "size_bytes": {"type": "integer"}
        }
      },
      "ReportFormatRequest": {
        "type": "object",
        "properties": {
          "format": {
            "type": "string",
            "enum": ["markdown", "json", "html"],
            "default": "markdown",
            "description": "Use markdown for readable output"
          }
        }
      }
    }
  }
}
